
<div class="jumbotron jumbotron-home">
    <div class="container">
        <% if user_signed_in? %>
            <h1>Welcome back to IdeaPicker.</h1>
        <% else %>
            <h1>Welcome to IdeaPicker.</h1>
        <% end %>
        <p>IdeaPicker is the easiest way to crowdsource ideas from your team and pick a winning idea. The whole thing is just a game.</p>
        <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Post an idea", signout_path, method: :delete, class: "btn btn-primary btn-lg" %></l>
          <% else %>
            <li class="nav-item"><%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %></l>
          <% end %>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Post an initiative</h2>
            <p>Just simply post an initiative and invite your team to log in and contribute ideas to it.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Vote for ideas</h2>
            <p>They simply use their votes to up or down vote the ideas.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Find a winner</h2>
            <p>When the deadline hits, the system picks a winner along with next steps for it and informs everyone.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>